body{
    text-align:center;
}

.trash{
    cursor:pointer;
    border:none;
    background-color:white;
}

.bttn{
    margin-left:47%;
    width:6vw;
    display:flex;
    justify-content:space-between;
}

.hidden{
    position:absolute;
    top:-1px;
    left:-1px;
    height:1px;
}

.container{
    color:#70757a;
    margin:0;
    min-height:50vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

 .pokeball{
    min-width:30vh;
    width:30vh;
    height:40vh;
    position:relative;
    overflow:hidden;
    display:flex;
    align-items:center;
}

#toggle-button{
    height:20vh;
    width:auto;
    transform-origin:50% 100%; 
    animation:wobble 4.5s infinite;
}

#toggle-button:hover{
    cursor:pointer;
}

@keyframes wobble {
    0%,
    20%,
    24%,
    28%,
    80%,
    84%,
    88%,
    92%,
    100%{
        transform:rotate(0deg);
    }
    22%,
    82%,
    90% {
        transform:rotate(4deg);
    }
    26%,
    86%,
    94%{
        transform:rotate(-4deg);
    }
}

.pokemon{
    position:relative;
    text-align:center;
    margin-left:60px
}

.pokemon img{
    width:55vh;
    background-size:30vh 30vh;
    background-repeat:no-repeat; 
    background-position:50% 90%;
}

.summon{
    position:absolute
}
